
.DS_Store
.vscode

.env

# pnpm
**/pnpm-lock.yaml

# Old Code
old

# Package Builds
dist

# Ruby
Gemfile.lock

# Global Workspace
.commoners

# Python Service Output
build

# Custom Build Output
.site

# Dependencies
node_modules

# Build Locations
ios
android

# Control Files
*.log
*.spec